.glyphicons-glass:before {
    content: "\E001" !important;
}

.glyphicons-leaf:before {
    content: "\E002" !important;
}

.glyphicons-dog:before {
    content: "\E003" !important;
}

.glyphicons-user:before {
    content: "\E004" !important;
}

.glyphicons-girl:before {
    content: "\E005" !important;
}

.glyphicons-car:before {
    content: "\E006" !important;
}

.glyphicons-user-add:before {
    content: "\E007" !important;
}

.glyphicons-user-remove:before {
    content: "\E008" !important;
}

.glyphicons-film:before {
    content: "\E009" !important;
}

.glyphicons-magic:before {
    content: "\E010" !important;
}

.glyphicons-envelope:before {
    content: "\2709" !important;
}

.glyphicons-camera:before {
    content: "\E011" !important;
}

.glyphicons-heart:before {
    content: "\E013" !important;
}

.glyphicons-beach-umbrella:before {
    content: "\E014" !important;
}

.glyphicons-train:before {
    content: "\E015" !important;
}

.glyphicons-print:before {
    content: "\E016" !important;
}

.glyphicons-bin:before {
    content: "\E017" !important;
}

.glyphicons-music:before {
    content: "\E018" !important;
}

.glyphicons-note:before {
    content: "\E019" !important;
}

.glyphicons-heart-empty:before {
    content: "\E020" !important;
}

.glyphicons-home:before {
    content: "\E021" !important;
}

.glyphicons-snowflake:before {
    content: "\2744" !important;
}

.glyphicons-fire:before {
    content: "\E023" !important;
}

.glyphicons-magnet:before {
    content: "\E024" !important;
}

.glyphicons-parents:before {
    content: "\E025" !important;
}

.glyphicons-binoculars:before {
    content: "\E026" !important;
}

.glyphicons-road:before {
    content: "\E027" !important;
}

.glyphicons-search:before {
    content: "\E028" !important;
}

.glyphicons-cars:before {
    content: "\E029" !important;
}

.glyphicons-notes-2:before {
    content: "\E030" !important;
}

.glyphicons-pencil:before {
    content: "\270F" !important;
}

.glyphicons-bus:before {
    content: "\E032" !important;
}

.glyphicons-wifi-alt:before {
    content: "\E033" !important;
}

.glyphicons-luggage:before {
    content: "\E034" !important;
}

.glyphicons-old-man:before {
    content: "\E035" !important;
}

.glyphicons-woman:before {
    content: "\E036" !important;
}

.glyphicons-file:before {
    content: "\E037" !important;
}

.glyphicons-coins:before {
    content: "\E038" !important;
}

.glyphicons-airplane:before {
    content: "\2708" !important;
}

.glyphicons-notes:before {
    content: "\E040" !important;
}

.glyphicons-stats:before {
    content: "\E041" !important;
}

.glyphicons-charts:before {
    content: "\E042" !important;
}

.glyphicons-pie-chart:before {
    content: "\E043" !important;
}

.glyphicons-group:before {
    content: "\E044" !important;
}

.glyphicons-keys:before {
    content: "\E045" !important;
}

.glyphicons-calendar:before {
    content: "\E046" !important;
}

.glyphicons-router:before {
    content: "\E047" !important;
}

.glyphicons-camera-small:before {
    content: "\E048" !important;
}

.glyphicons-star-empty:before {
    content: "\E049" !important;
}

.glyphicons-star:before {
    content: "\E050" !important;
}

.glyphicons-link:before {
    content: "\E051" !important;
}

.glyphicons-eye-open:before {
    content: "\E052" !important;
}

.glyphicons-eye-close:before {
    content: "\E053" !important;
}

.glyphicons-alarm:before {
    content: "\E054" !important;
}

.glyphicons-clock:before {
    content: "\E055" !important;
}

.glyphicons-stopwatch:before {
    content: "\E056" !important;
}

.glyphicons-projector:before {
    content: "\E057" !important;
}

.glyphicons-history:before {
    content: "\E058" !important;
}

.glyphicons-truck:before {
    content: "\E059" !important;
}

.glyphicons-cargo:before {
    content: "\E060" !important;
}

.glyphicons-compass:before {
    content: "\E061" !important;
}

.glyphicons-keynote:before {
    content: "\E062" !important;
}

.glyphicons-paperclip:before {
    content: "\E063" !important;
}

.glyphicons-power:before {
    content: "\E064" !important;
}

.glyphicons-lightbulb:before {
    content: "\E065" !important;
}

.glyphicons-tag:before {
    content: "\E066" !important;
}

.glyphicons-tags:before {
    content: "\E067" !important;
}

.glyphicons-cleaning:before {
    content: "\E068" !important;
}

.glyphicons-ruler:before {
    content: "\E069" !important;
}

.glyphicons-gift:before {
    content: "\E070" !important;
}

.glyphicons-umbrella:before {
    content: "\2602" !important;
}

.glyphicons-book:before {
    content: "\E072" !important;
}

.glyphicons-bookmark:before {
    content: "\E073" !important;
}

.glyphicons-wifi:before {
    content: "\E074" !important;
}

.glyphicons-cup:before {
    content: "\E075" !important;
}

.glyphicons-stroller:before {
    content: "\E076" !important;
}

.glyphicons-headphones:before {
    content: "\E077" !important;
}

.glyphicons-headset:before {
    content: "\E078" !important;
}

.glyphicons-warning-sign:before {
    content: "\E079" !important;
}

.glyphicons-signal:before {
    content: "\E080" !important;
}

.glyphicons-retweet:before {
    content: "\E081" !important;
}

.glyphicons-refresh:before {
    content: "\E082" !important;
}

.glyphicons-roundabout:before {
    content: "\E083" !important;
}

.glyphicons-random:before {
    content: "\E084" !important;
}

.glyphicons-heat:before {
    content: "\E085" !important;
}

.glyphicons-repeat:before {
    content: "\E086" !important;
}

.glyphicons-display:before {
    content: "\E087" !important;
}

.glyphicons-log-book:before {
    content: "\E088" !important;
}

.glyphicons-address-book:before {
    content: "\E089" !important;
}

.glyphicons-building:before {
    content: "\E090" !important;
}

.glyphicons-eyedropper:before {
    content: "\E091" !important;
}

.glyphicons-adjust:before {
    content: "\E092" !important;
}

.glyphicons-tint:before {
    content: "\E093" !important;
}

.glyphicons-crop:before {
    content: "\E094" !important;
}

.glyphicons-vector-path-square:before {
    content: "\E095" !important;
}

.glyphicons-vector-path-circle:before {
    content: "\E096" !important;
}

.glyphicons-vector-path-polygon:before {
    content: "\E097" !important;
}

.glyphicons-vector-path-line:before {
    content: "\E098" !important;
}

.glyphicons-vector-path-curve:before {
    content: "\E099" !important;
}

.glyphicons-vector-path-all:before {
    content: "\E100" !important;
}

.glyphicons-font:before {
    content: "\E101" !important;
}

.glyphicons-italic:before {
    content: "\E102" !important;
}

.glyphicons-bold:before {
    content: "\E103" !important;
}

.glyphicons-text-underline:before {
    content: "\E104" !important;
}

.glyphicons-text-strike:before {
    content: "\E105" !important;
}

.glyphicons-text-height:before {
    content: "\E106" !important;
}

.glyphicons-text-width:before {
    content: "\E107" !important;
}

.glyphicons-text-resize:before {
    content: "\E108" !important;
}

.glyphicons-left-indent:before {
    content: "\E109" !important;
}

.glyphicons-right-indent:before {
    content: "\E110" !important;
}

.glyphicons-align-left:before {
    content: "\E111" !important;
}

.glyphicons-align-center:before {
    content: "\E112" !important;
}

.glyphicons-align-right:before {
    content: "\E113" !important;
}

.glyphicons-justify:before {
    content: "\E114" !important;
}

.glyphicons-list:before {
    content: "\E115" !important;
}

.glyphicons-text-smaller:before {
    content: "\E116" !important;
}

.glyphicons-text-bigger:before {
    content: "\E117" !important;
}

.glyphicons-embed:before {
    content: "\E118" !important;
}

.glyphicons-embed-close:before {
    content: "\E119" !important;
}

.glyphicons-table:before {
    content: "\E120" !important;
}

.glyphicons-message-full:before {
    content: "\E121" !important;
}

.glyphicons-message-empty:before {
    content: "\E122" !important;
}

.glyphicons-message-in:before {
    content: "\E123" !important;
}

.glyphicons-message-out:before {
    content: "\E124" !important;
}

.glyphicons-message-plus:before {
    content: "\E125" !important;
}

.glyphicons-message-minus:before {
    content: "\E126" !important;
}

.glyphicons-message-ban:before {
    content: "\E127" !important;
}

.glyphicons-message-flag:before {
    content: "\E128" !important;
}

.glyphicons-message-lock:before {
    content: "\E129" !important;
}

.glyphicons-message-new:before {
    content: "\E130" !important;
}

.glyphicons-inbox:before {
    content: "\E131" !important;
}

.glyphicons-inbox-plus:before {
    content: "\E132" !important;
}

.glyphicons-inbox-minus:before {
    content: "\E133" !important;
}

.glyphicons-inbox-lock:before {
    content: "\E134" !important;
}

.glyphicons-inbox-in:before {
    content: "\E135" !important;
}

.glyphicons-inbox-out:before {
    content: "\E136" !important;
}

.glyphicons-cogwheel:before {
    content: "\E137" !important;
}

.glyphicons-cogwheels:before {
    content: "\E138" !important;
}

.glyphicons-picture:before {
    content: "\E139" !important;
}

.glyphicons-adjust-alt:before {
    content: "\E140" !important;
}

.glyphicons-database-lock:before {
    content: "\E141" !important;
}

.glyphicons-database-plus:before {
    content: "\E142" !important;
}

.glyphicons-database-minus:before {
    content: "\E143" !important;
}

.glyphicons-database-ban:before {
    content: "\E144" !important;
}

.glyphicons-folder-open:before {
    content: "\E145" !important;
}

.glyphicons-folder-plus:before {
    content: "\E146" !important;
}

.glyphicons-folder-minus:before {
    content: "\E147" !important;
}

.glyphicons-folder-lock:before {
    content: "\E148" !important;
}

.glyphicons-folder-flag:before {
    content: "\E149" !important;
}

.glyphicons-folder-new:before {
    content: "\E150" !important;
}

.glyphicons-edit:before {
    content: "\E151" !important;
}

.glyphicons-new-window:before {
    content: "\E152" !important;
}

.glyphicons-check:before {
    content: "\E153" !important;
}

.glyphicons-unchecked:before {
    content: "\E154" !important;
}

.glyphicons-more-windows:before {
    content: "\E155" !important;
}

.glyphicons-show-big-thumbnails:before {
    content: "\E156" !important;
}

.glyphicons-show-thumbnails:before {
    content: "\E157" !important;
}

.glyphicons-show-thumbnails-with-lines:before {
    content: "\E158" !important;
}

.glyphicons-show-lines:before {
    content: "\E159" !important;
}

.glyphicons-playlist:before {
    content: "\E160" !important;
}

.glyphicons-imac:before {
    content: "\E161" !important;
}

.glyphicons-macbook:before {
    content: "\E162" !important;
}

.glyphicons-ipad:before {
    content: "\E163" !important;
}

.glyphicons-iphone:before {
    content: "\E164" !important;
}

.glyphicons-iphone-transfer:before {
    content: "\E165" !important;
}

.glyphicons-iphone-exchange:before {
    content: "\E166" !important;
}

.glyphicons-ipod:before {
    content: "\E167" !important;
}

.glyphicons-ipod-shuffle:before {
    content: "\E168" !important;
}

.glyphicons-ear-plugs:before {
    content: "\E169" !important;
}

.glyphicons-record:before {
    content: "\E170" !important;
}

.glyphicons-step-backward:before {
    content: "\E171" !important;
}

.glyphicons-fast-backward:before {
    content: "\E172" !important;
}

.glyphicons-rewind:before {
    content: "\E173" !important;
}

.glyphicons-play:before {
    content: "\E174" !important;
}

.glyphicons-pause:before {
    content: "\E175" !important;
}

.glyphicons-stop:before {
    content: "\E176" !important;
}

.glyphicons-forward:before {
    content: "\E177" !important;
}

.glyphicons-fast-forward:before {
    content: "\E178" !important;
}

.glyphicons-step-forward:before {
    content: "\E179" !important;
}

.glyphicons-eject:before {
    content: "\E180" !important;
}

.glyphicons-facetime-video:before {
    content: "\E181" !important;
}

.glyphicons-download-alt:before {
    content: "\E182" !important;
}

.glyphicons-mute:before {
    content: "\E183" !important;
}

.glyphicons-volume-down:before {
    content: "\E184" !important;
}

.glyphicons-volume-up:before {
    content: "\E185" !important;
}

.glyphicons-screenshot:before {
    content: "\E186" !important;
}

.glyphicons-move:before {
    content: "\E187" !important;
}

.glyphicons-more:before {
    content: "\E188" !important;
}

.glyphicons-brightness-reduce:before {
    content: "\E189" !important;
}

.glyphicons-brightness-increase:before {
    content: "\E190" !important;
}

.glyphicons-circle-plus:before {
    content: "\E191" !important;
}

.glyphicons-circle-minus:before {
    content: "\E192" !important;
}

.glyphicons-circle-remove:before {
    content: "\E193" !important;
}

.glyphicons-circle-ok:before {
    content: "\E194" !important;
}

.glyphicons-circle-question-mark:before {
    content: "\E195" !important;
}

.glyphicons-circle-info:before {
    content: "\E196" !important;
}

.glyphicons-circle-exclamation-mark:before {
    content: "\E197" !important;
}

.glyphicons-remove:before {
    content: "\E198" !important;
}

.glyphicons-ok:before {
    content: "\E199" !important;
}

.glyphicons-ban:before {
    content: "\E200" !important;
}

.glyphicons-download:before {
    content: "\E201" !important;
}

.glyphicons-upload:before {
    content: "\E202" !important;
}

.glyphicons-shopping-cart:before {
    content: "\E203" !important;
}

.glyphicons-lock:before {
    content: "\E204" !important;
}

.glyphicons-unlock:before {
    content: "\E205" !important;
}

.glyphicons-electricity:before {
    content: "\E206" !important;
}

.glyphicons-ok-2:before {
    content: "\E207" !important;
}

.glyphicons-remove-2:before {
    content: "\E208" !important;
}

.glyphicons-cart-out:before {
    content: "\E209" !important;
}

.glyphicons-cart-in:before {
    content: "\E210" !important;
}

.glyphicons-left-arrow:before {
    content: "\E211" !important;
}

.glyphicons-right-arrow:before {
    content: "\E212" !important;
}

.glyphicons-down-arrow:before {
    content: "\E213" !important;
}

.glyphicons-up-arrow:before {
    content: "\E214" !important;
}

.glyphicons-resize-small:before {
    content: "\E215" !important;
}

.glyphicons-resize-full:before {
    content: "\E216" !important;
}

.glyphicons-circle-arrow-left:before {
    content: "\E217" !important;
}

.glyphicons-circle-arrow-right:before {
    content: "\E218" !important;
}

.glyphicons-circle-arrow-top:before {
    content: "\E219" !important;
}

.glyphicons-circle-arrow-down:before {
    content: "\E220" !important;
}

.glyphicons-play-button:before {
    content: "\E221" !important;
}

.glyphicons-unshare:before {
    content: "\E222" !important;
}

.glyphicons-share:before {
    content: "\E223" !important;
}

.glyphicons-chevron-right:before {
    content: "\E224" !important;
}

.glyphicons-chevron-left:before {
    content: "\E225" !important;
}

.glyphicons-bluetooth:before {
    content: "\E226" !important;
}

.glyphicons-euro:before {
    content: "\20AC" !important;
}

.glyphicons-usd:before {
    content: "\E228" !important;
}

.glyphicons-gbp:before {
    content: "\E229" !important;
}

.glyphicons-retweet-2:before {
    content: "\E230" !important;
}

.glyphicons-moon:before {
    content: "\E231" !important;
}

.glyphicons-sun:before {
    content: "\2609" !important;
}

.glyphicons-cloud:before {
    content: "\2601" !important;
}

.glyphicons-direction:before {
    content: "\E234" !important;
}

.glyphicons-brush:before {
    content: "\E235" !important;
}

.glyphicons-pen:before {
    content: "\E236" !important;
}

.glyphicons-zoom-in:before {
    content: "\E237" !important;
}

.glyphicons-zoom-out:before {
    content: "\E238" !important;
}

.glyphicons-pin:before {
    content: "\E239" !important;
}

.glyphicons-albums:before {
    content: "\E240" !important;
}

.glyphicons-rotation-lock:before {
    content: "\E241" !important;
}

.glyphicons-flash:before {
    content: "\E242" !important;
}

.glyphicons-google-maps:before {
    content: "\E243" !important;
}

.glyphicons-anchor:before {
    content: "\2693" !important;
}

.glyphicons-conversation:before {
    content: "\E245" !important;
}

.glyphicons-chat:before {
    content: "\E246" !important;
}

.glyphicons-male:before {
    content: "\E247" !important;
}

.glyphicons-female:before {
    content: "\E248" !important;
}

.glyphicons-asterisk:before {
    content: "\002A" !important;
}

.glyphicons-divide:before {
    content: "\00F7" !important;
}

.glyphicons-snorkel-diving:before {
    content: "\E251" !important;
}

.glyphicons-scuba-diving:before {
    content: "\E252" !important;
}

.glyphicons-oxygen-bottle:before {
    content: "\E253" !important;
}

.glyphicons-fins:before {
    content: "\E254" !important;
}

.glyphicons-fishes:before {
    content: "\E255" !important;
}

.glyphicons-boat:before {
    content: "\E256" !important;
}

.glyphicons-delete:before {
    content: "\E257" !important;
}

.glyphicons-sheriffs-star:before {
    content: "\E258" !important;
}

.glyphicons-qrcode:before {
    content: "\E259" !important;
}

.glyphicons-barcode:before {
    content: "\E260" !important;
}

.glyphicons-pool:before {
    content: "\E261" !important;
}

.glyphicons-buoy:before {
    content: "\E262" !important;
}

.glyphicons-spade:before {
    content: "\E263" !important;
}

.glyphicons-bank:before {
    content: "\E264" !important;
}

.glyphicons-vcard:before {
    content: "\E265" !important;
}

.glyphicons-electrical-plug:before {
    content: "\E266" !important;
}

.glyphicons-flag:before {
    content: "\E267" !important;
}

.glyphicons-credit-card:before {
    content: "\E268" !important;
}

.glyphicons-keyboard-wireless:before {
    content: "\E269" !important;
}

.glyphicons-keyboard-wired:before {
    content: "\E270" !important;
}

.glyphicons-shield:before {
    content: "\E271" !important;
}

.glyphicons-ring:before {
    content: "\02DA" !important;
}

.glyphicons-cake:before {
    content: "\E273" !important;
}

.glyphicons-drink:before {
    content: "\E274" !important;
}

.glyphicons-beer:before {
    content: "\E275" !important;
}

.glyphicons-fast-food:before {
    content: "\E276" !important;
}

.glyphicons-cutlery:before {
    content: "\E277" !important;
}

.glyphicons-pizza:before {
    content: "\E278" !important;
}

.glyphicons-birthday-cake:before {
    content: "\E279" !important;
}

.glyphicons-tablet:before {
    content: "\E280" !important;
}

.glyphicons-settings:before {
    content: "\E281" !important;
}

.glyphicons-bullets:before {
    content: "\E282" !important;
}

.glyphicons-cardio:before {
    content: "\E283" !important;
}

.glyphicons-t-shirt:before {
    content: "\E284" !important;
}

.glyphicons-pants:before {
    content: "\E285" !important;
}

.glyphicons-sweater:before {
    content: "\E286" !important;
}

.glyphicons-fabric:before {
    content: "\E287" !important;
}

.glyphicons-leather:before {
    content: "\E288" !important;
}

.glyphicons-scissors:before {
    content: "\E289" !important;
}

.glyphicons-bomb:before {
    content: "\E290" !important;
}

.glyphicons-skull:before {
    content: "\E291" !important;
}

.glyphicons-celebration:before {
    content: "\E292" !important;
}

.glyphicons-tea-kettle:before {
    content: "\E293" !important;
}

.glyphicons-french-press:before {
    content: "\E294" !important;
}

.glyphicons-coffee-cup:before {
    content: "\E295" !important;
}

.glyphicons-pot:before {
    content: "\E296" !important;
}

.glyphicons-grater:before {
    content: "\E297" !important;
}

.glyphicons-kettle:before {
    content: "\E298" !important;
}

.glyphicons-hospital:before {
    content: "\E299" !important;
}

.glyphicons-hospital-h:before {
    content: "\E300" !important;
}

.glyphicons-microphone:before {
    content: "\E301" !important;
}

.glyphicons-webcam:before {
    content: "\E302" !important;
}

.glyphicons-temple-christianity-church:before {
    content: "\E303" !important;
}

.glyphicons-temple-islam:before {
    content: "\E304" !important;
}

.glyphicons-temple-hindu:before {
    content: "\E305" !important;
}

.glyphicons-temple-buddhist:before {
    content: "\E306" !important;
}

.glyphicons-bicycle:before {
    content: "\E307" !important;
}

.glyphicons-life-preserver:before {
    content: "\E308" !important;
}

.glyphicons-share-alt:before {
    content: "\E309" !important;
}

.glyphicons-comments:before {
    content: "\E310" !important;
}

.glyphicons-flower:before {
    content: "\2698" !important;
}

.glyphicons-baseball:before {
    content: "\26BE" !important;
}

.glyphicons-rugby:before {
    content: "\E313" !important;
}

.glyphicons-ax:before {
    content: "\E314" !important;
}

.glyphicons-table-tennis:before {
    content: "\E315" !important;
}

.glyphicons-bowling:before {
    content: "\E316" !important;
}

.glyphicons-tree-conifer:before {
    content: "\E317" !important;
}

.glyphicons-tree-deciduous:before {
    content: "\E318" !important;
}

.glyphicons-more-items:before {
    content: "\E319" !important;
}

.glyphicons-sort:before {
    content: "\E320" !important;
}

.glyphicons-filter:before {
    content: "\E321" !important;
}

.glyphicons-gamepad:before {
    content: "\E322" !important;
}

.glyphicons-playing-dices:before {
    content: "\E323" !important;
}

.glyphicons-calculator:before {
    content: "\E324" !important;
}

.glyphicons-tie:before {
    content: "\E325" !important;
}

.glyphicons-wallet:before {
    content: "\E326" !important;
}

.glyphicons-piano:before {
    content: "\E327" !important;
}

.glyphicons-sampler:before {
    content: "\E328" !important;
}

.glyphicons-podium:before {
    content: "\E329" !important;
}

.glyphicons-soccer-ball:before {
    content: "\E330" !important;
}

.glyphicons-blog:before {
    content: "\E331" !important;
}

.glyphicons-dashboard:before {
    content: "\E332" !important;
}

.glyphicons-certificate:before {
    content: "\E333" !important;
}

.glyphicons-bell:before {
    content: "\E334" !important;
}

.glyphicons-candle:before {
    content: "\E335" !important;
}

.glyphicons-pushpin:before {
    content: "\E336" !important;
}

.glyphicons-iphone-shake:before {
    content: "\E337" !important;
}

.glyphicons-pin-flag:before {
    content: "\E338" !important;
}

.glyphicons-turtle:before {
    content: "\E339" !important;
}

.glyphicons-rabbit:before {
    content: "\E340" !important;
}

.glyphicons-globe:before {
    content: "\E341" !important;
}

.glyphicons-briefcase:before {
    content: "\E342" !important;
}

.glyphicons-hdd:before {
    content: "\E343" !important;
}

.glyphicons-thumbs-up:before {
    content: "\E344" !important;
}

.glyphicons-thumbs-down:before {
    content: "\E345" !important;
}

.glyphicons-hand-right:before {
    content: "\E346" !important;
}

.glyphicons-hand-left:before {
    content: "\E347" !important;
}

.glyphicons-hand-up:before {
    content: "\E348" !important;
}

.glyphicons-hand-down:before {
    content: "\E349" !important;
}

.glyphicons-fullscreen:before {
    content: "\E350" !important;
}

.glyphicons-shopping-bag:before {
    content: "\E351" !important;
}

.glyphicons-book-open:before {
    content: "\E352" !important;
}

.glyphicons-nameplate:before {
    content: "\E353" !important;
}

.glyphicons-nameplate-alt:before {
    content: "\E354" !important;
}

.glyphicons-vases:before {
    content: "\E355" !important;
}

.glyphicons-bullhorn:before {
    content: "\E356" !important;
}

.glyphicons-dumbbell:before {
    content: "\E357" !important;
}

.glyphicons-suitcase:before {
    content: "\E358" !important;
}

.glyphicons-file-import:before {
    content: "\E359" !important;
}

.glyphicons-file-export:before {
    content: "\E360" !important;
}

.glyphicons-bug:before {
    content: "\E361" !important;
}

.glyphicons-crown:before {
    content: "\E362" !important;
}

.glyphicons-smoking:before {
    content: "\E363" !important;
}

.glyphicons-cloud-download:before {
    content: "\E364" !important;
}

.glyphicons-cloud-upload:before {
    content: "\E365" !important;
}

.glyphicons-restart:before {
    content: "\E366" !important;
}

.glyphicons-security-camera:before {
    content: "\E367" !important;
}

.glyphicons-expand:before {
    content: "\E368" !important;
}

.glyphicons-collapse:before {
    content: "\E369" !important;
}

.glyphicons-collapse-top:before {
    content: "\E370" !important;
}

.glyphicons-globe-af:before {
    content: "\E371" !important;
}

.glyphicons-global:before {
    content: "\E372" !important;
}

.glyphicons-spray:before {
    content: "\E373" !important;
}

.glyphicons-nails:before {
    content: "\E374" !important;
}

.glyphicons-claw-hammer:before {
    content: "\E375" !important;
}

.glyphicons-classic-hammer:before {
    content: "\E376" !important;
}

.glyphicons-hand-saw:before {
    content: "\E377" !important;
}

.glyphicons-riflescope:before {
    content: "\E378" !important;
}

.glyphicons-electrical-socket-eu:before {
    content: "\E379" !important;
}

.glyphicons-electrical-socket-us:before {
    content: "\E380" !important;
}

.glyphicons-message-forward:before {
    content: "\E381" !important;
}

.glyphicons-coat-hanger:before {
    content: "\E382" !important;
}

.glyphicons-dress:before {
    content: "\E383" !important;
}

.glyphicons-bathrobe:before {
    content: "\E384" !important;
}

.glyphicons-shirt:before {
    content: "\E385" !important;
}

.glyphicons-underwear:before {
    content: "\E386" !important;
}

.glyphicons-log-in:before {
    content: "\E387" !important;
}

.glyphicons-log-out:before {
    content: "\E388" !important;
}

.glyphicons-exit:before {
    content: "\E389" !important;
}

.glyphicons-new-window-alt:before {
    content: "\E390" !important;
}

.glyphicons-video-sd:before {
    content: "\E391" !important;
}

.glyphicons-video-hd:before {
    content: "\E392" !important;
}

.glyphicons-subtitles:before {
    content: "\E393" !important;
}

.glyphicons-sound-stereo:before {
    content: "\E394" !important;
}

.glyphicons-sound-dolby:before {
    content: "\E395" !important;
}

.glyphicons-sound-5-1:before {
    content: "\E396" !important;
}

.glyphicons-sound-6-1:before {
    content: "\E397" !important;
}

.glyphicons-sound-7-1:before {
    content: "\E398" !important;
}

.glyphicons-copyright-mark:before {
    content: "\E399" !important;
}

.glyphicons-registration-mark:before {
    content: "\E400" !important;
}

.glyphicons-radar:before {
    content: "\E401" !important;
}

.glyphicons-skateboard:before {
    content: "\E402" !important;
}

.glyphicons-golf-course:before {
    content: "\E403" !important;
}

.glyphicons-sorting:before {
    content: "\E404" !important;
}

.glyphicons-sort-by-alphabet:before {
    content: "\E405" !important;
}

.glyphicons-sort-by-alphabet-alt:before {
    content: "\E406" !important;
}

.glyphicons-sort-by-order:before {
    content: "\E407" !important;
}

.glyphicons-sort-by-order-alt:before {
    content: "\E408" !important;
}

.glyphicons-sort-by-attributes:before {
    content: "\E409" !important;
}

.glyphicons-sort-by-attributes-alt:before {
    content: "\E410" !important;
}

.glyphicons-compressed:before {
    content: "\E411" !important;
}

.glyphicons-package:before {
    content: "\E412" !important;
}

.glyphicons-cloud-plus:before {
    content: "\E413" !important;
}

.glyphicons-cloud-minus:before {
    content: "\E414" !important;
}

.glyphicons-disk-save:before {
    content: "\E415" !important;
}

.glyphicons-disk-open:before {
    content: "\E416" !important;
}

.glyphicons-disk-saved:before {
    content: "\E417" !important;
}

.glyphicons-disk-remove:before {
    content: "\E418" !important;
}

.glyphicons-disk-import:before {
    content: "\E419" !important;
}

.glyphicons-disk-export:before {
    content: "\E420" !important;
}

.glyphicons-tower:before {
    content: "\E421" !important;
}

.glyphicons-send:before {
    content: "\E422" !important;
}

.glyphicons-git-branch:before {
    content: "\E423" !important;
}

.glyphicons-git-create:before {
    content: "\E424" !important;
}

.glyphicons-git-private:before {
    content: "\E425" !important;
}

.glyphicons-git-delete:before {
    content: "\E426" !important;
}

.glyphicons-git-merge:before {
    content: "\E427" !important;
}

.glyphicons-git-pull-request:before {
    content: "\E428" !important;
}

.glyphicons-git-compare:before {
    content: "\E429" !important;
}

.glyphicons-git-commit:before {
    content: "\E430" !important;
}

.glyphicons-construction-cone:before {
    content: "\E431" !important;
}

.glyphicons-shoe-steps:before {
    content: "\E432" !important;
}

.glyphicons-plus:before {
    content: "\002B" !important;
}

.glyphicons-minus:before {
    content: "\2212" !important;
}

.glyphicons-redo:before {
    content: "\E435" !important;
}

.glyphicons-undo:before {
    content: "\E436" !important;
}

.glyphicons-golf:before {
    content: "\E437" !important;
}

.glyphicons-hockey:before {
    content: "\E438" !important;
}

.glyphicons-pipe:before {
    content: "\E439" !important;
}

.glyphicons-wrench:before {
    content: "\E440" !important;
}

.glyphicons-folder-closed:before {
    content: "\E441" !important;
}

.glyphicons-phone-alt:before {
    content: "\E442" !important;
}

.glyphicons-earphone:before {
    content: "\E443" !important;
}

.glyphicons-floppy-disk:before {
    content: "\E444" !important;
}

.glyphicons-floppy-saved:before {
    content: "\E445" !important;
}

.glyphicons-floppy-remove:before {
    content: "\E446" !important;
}

.glyphicons-floppy-save:before {
    content: "\E447" !important;
}

.glyphicons-floppy-open:before {
    content: "\E448" !important;
}

.glyphicons-translate:before {
    content: "\E449" !important;
}

.glyphicons-fax:before {
    content: "\E450" !important;
}

.glyphicons-factory:before {
    content: "\E451" !important;
}

.glyphicons-shop-window:before {
    content: "\E452" !important;
}

.glyphicons-shop:before {
    content: "\E453" !important;
}

.glyphicons-kiosk:before {
    content: "\E454" !important;
}

.glyphicons-kiosk-wheels:before {
    content: "\E455" !important;
}

.glyphicons-kiosk-light:before {
    content: "\E456" !important;
}

.glyphicons-kiosk-food:before {
    content: "\E457" !important;
}

.glyphicons-transfer:before {
    content: "\E458" !important;
}

.glyphicons-money:before {
    content: "\E459" !important;
}

.glyphicons-header:before {
    content: "\E460" !important;
}

.glyphicons-blacksmith:before {
    content: "\E461" !important;
}

.glyphicons-saw-blade:before {
    content: "\E462" !important;
}

.glyphicons-basketball:before {
    content: "\E463" !important;
}

.glyphicons-server:before {
    content: "\E464" !important;
}

.glyphicons-server-plus:before {
    content: "\E465" !important;
}

.glyphicons-server-minus:before {
    content: "\E466" !important;
}

.glyphicons-server-ban:before {
    content: "\E467" !important;
}

.glyphicons-server-flag:before {
    content: "\E468" !important;
}

.glyphicons-server-lock:before {
    content: "\E469" !important;
}

.glyphicons-server-new:before {
    content: "\E470" !important;
}

.glyphicons-charging-station:before {
    content: "\F471" !important;
}

.glyphicons-gas-station:before {
    content: "\E472" !important;
}

.glyphicons-target:before {
    content: "\E473" !important;
}

.glyphicons-bed-alt:before {
    content: "\E474" !important;
}

.glyphicons-mosquito-net:before {
    content: "\E475" !important;
}

.glyphicons-dining-set:before {
    content: "\E476" !important;
}

.glyphicons-plate-of-food:before {
    content: "\E477" !important;
}

.glyphicons-hygiene-kit:before {
    content: "\E478" !important;
}

.glyphicons-blackboard:before {
    content: "\E479" !important;
}

.glyphicons-marriage:before {
    content: "\E480" !important;
}

.glyphicons-bucket:before {
    content: "\E481" !important;
}

.glyphicons-none-color-swatch:before {
    content: "\E482" !important;
}

.glyphicons-bring-forward:before {
    content: "\E483" !important;
}

.glyphicons-bring-to-front:before {
    content: "\E484" !important;
}

.glyphicons-send-backward:before {
    content: "\E485" !important;
}

.glyphicons-send-to-back:before {
    content: "\E486" !important;
}

.glyphicons-fit-frame-to-image:before {
    content: "\E487" !important;
}

.glyphicons-fit-image-to-frame:before {
    content: "\E488" !important;
}

.glyphicons-multiple-displays:before {
    content: "\E489" !important;
}

.glyphicons-handshake:before {
    content: "\E490" !important;
}

.glyphicons-child:before {
    content: "\E491" !important;
}

.glyphicons-baby-formula:before {
    content: "\E492" !important;
}

.glyphicons-medicine:before {
    content: "\E493" !important;
}

.glyphicons-atv-vehicle:before {
    content: "\E494" !important;
}

.glyphicons-motorcycle:before {
    content: "\E495" !important;
}

.glyphicons-bed:before {
    content: "\E496" !important;
}

.glyphicons-tent:before {
    content: "\26FA" !important;
}

.glyphicons-glasses:before {
    content: "\E498" !important;
}

.glyphicons-sunglasses:before {
    content: "\E499" !important;
}

.glyphicons-family:before {
    content: "\E500" !important;
}

.glyphicons-education:before {
    content: "\E501" !important;
}

.glyphicons-shoes:before {
    content: "\E502" !important;
}

.glyphicons-map:before {
    content: "\E503" !important;
}

.glyphicons-cd:before {
    content: "\E504" !important;
}

.glyphicons-alert:before {
    content: "\E505" !important;
}

.glyphicons-piggy-bank:before {
    content: "\E506" !important;
}

.glyphicons-star-half:before {
    content: "\E507" !important;
}

.glyphicons-cluster:before {
    content: "\E508" !important;
}

.glyphicons-flowchart:before {
    content: "\E509" !important;
}

.glyphicons-commodities:before {
    content: "\E510" !important;
}

.glyphicons-duplicate:before {
    content: "\E511" !important;
}

.glyphicons-copy:before {
    content: "\E512" !important;
}

.glyphicons-paste:before {
    content: "\E513" !important;
}

.glyphicons-bath-bathtub:before {
    content: "\E514" !important;
}

.glyphicons-bath-shower:before {
    content: "\E515" !important;
}

.glyphicons-shower:before {
    content: "\1F6BF" !important;
}

.glyphicons-menu-hamburger:before {
    content: "\E517" !important;
}

.glyphicons-option-vertical:before {
    content: "\E518" !important;
}

.glyphicons-option-horizontal:before {
    content: "\E519" !important;
}

.glyphicons-currency-conversion:before {
    content: "\E520" !important;
}

.glyphicons-user-ban:before {
    content: "\E521" !important;
}

.glyphicons-user-lock:before {
    content: "\E522" !important;
}

.glyphicons-user-flag:before {
    content: "\E523" !important;
}

.glyphicons-user-asterisk:before {
    content: "\E524" !important;
}

.glyphicons-user-alert:before {
    content: "\E525" !important;
}

.glyphicons-user-key:before {
    content: "\E526" !important;
}

.glyphicons-user-conversation:before {
    content: "\E527" !important;
}

.glyphicons-database:before {
    content: "\E528" !important;
}

.glyphicons-database-search:before {
    content: "\E529" !important;
}

.glyphicons-list-alt:before {
    content: "\E530" !important;
}

.glyphicons-hazard-sign:before {
    content: "\E531" !important;
}

.glyphicons-hazard:before {
    content: "\E532" !important;
}

.glyphicons-stop-sign:before {
    content: "\E533" !important;
}

.glyphicons-lab:before {
    content: "\E534" !important;
}

.glyphicons-lab-alt:before {
    content: "\E535" !important;
}

.glyphicons-ice-cream:before {
    content: "\E536" !important;
}

.glyphicons-ice-lolly:before {
    content: "\E537" !important;
}

.glyphicons-ice-lolly-tasted:before {
    content: "\E538" !important;
}

.glyphicons-invoice:before {
    content: "\E539" !important;
}

.glyphicons-cart-tick:before {
    content: "\E540" !important;
}

.glyphicons-hourglass:before {
    content: "\231B" !important;
}

.glyphicons-cat:before {
    content: "\1F408" !important;
}

.glyphicons-lamp:before {
    content: "\E543" !important;
}

.glyphicons-scale-classic:before {
    content: "\E544" !important;
}

.glyphicons-eye-plus:before {
    content: "\E545" !important;
}

.glyphicons-eye-minus:before {
    content: "\E546" !important;
}

.glyphicons-quote:before {
    content: "\E547" !important;
}

.glyphicons-bitcoin:before {
    content: "\E548" !important;
}

.glyphicons-yen:before {
    content: "\00A5" !important;
}

.glyphicons-ruble:before {
    content: "\20BD" !important;
}

.glyphicons-erase:before {
    content: "\E551" !important;
}

.glyphicons-podcast:before {
    content: "\E552" !important;
}

.glyphicons-firework:before {
    content: "\E553" !important;
}

.glyphicons-scale:before {
    content: "\E554" !important;
}

.glyphicons-king:before {
    content: "\E555" !important;
}

.glyphicons-queen:before {
    content: "\E556" !important;
}

.glyphicons-pawn:before {
    content: "\E557" !important;
}

.glyphicons-bishop:before {
    content: "\E558" !important;
}

.glyphicons-knight:before {
    content: "\E559" !important;
}

.glyphicons-mic-mute:before {
    content: "\E560" !important;
}

.glyphicons-voicemail:before {
    content: "\E561" !important;
}

.glyphicons-paragraph:before {
    content: "\00B6" !important;
}

.glyphicons-person-walking:before {
    content: "\E563" !important;
}

.glyphicons-person-wheelchair:before {
    content: "\E564" !important;
}

.glyphicons-underground:before {
    content: "\E565" !important;
}

.glyphicons-car-hov:before {
    content: "\E566" !important;
}

.glyphicons-car-rental:before {
    content: "\E567" !important;
}

.glyphicons-transport:before {
    content: "\E568" !important;
}

.glyphicons-taxi:before {
    content: "\1F695" !important;
}

.glyphicons-ice-cream-no:before {
    content: "\E570" !important;
}

.glyphicons-uk-rat-u:before {
    content: "\E571" !important;
}

.glyphicons-uk-rat-pg:before {
    content: "\E572" !important;
}

.glyphicons-uk-rat-12a:before {
    content: "\E573" !important;
}

.glyphicons-uk-rat-12:before {
    content: "\E574" !important;
}

.glyphicons-uk-rat-15:before {
    content: "\E575" !important;
}

.glyphicons-uk-rat-18:before {
    content: "\E576" !important;
}

.glyphicons-uk-rat-r18:before {
    content: "\E577" !important;
}

.glyphicons-tv:before {
    content: "\E578" !important;
}

.glyphicons-sms:before {
    content: "\E579" !important;
}

.glyphicons-mms:before {
    content: "\E580" !important;
}

.glyphicons-us-rat-g:before {
    content: "\E581" !important;
}

.glyphicons-us-rat-pg:before {
    content: "\E582" !important;
}

.glyphicons-us-rat-pg-13:before {
    content: "\E583" !important;
}

.glyphicons-us-rat-restricted:before {
    content: "\E584" !important;
}

.glyphicons-us-rat-no-one-17:before {
    content: "\E585" !important;
}

.glyphicons-equalizer:before {
    content: "\E586" !important;
}

.glyphicons-speakers:before {
    content: "\E587" !important;
}

.glyphicons-remote-control:before {
    content: "\E588" !important;
}

.glyphicons-remote-control-tv:before {
    content: "\E589" !important;
}

.glyphicons-shredder:before {
    content: "\E590" !important;
}

.glyphicons-folder-heart:before {
    content: "\E591" !important;
}

.glyphicons-person-running:before {
    content: "\E592" !important;
}

.glyphicons-person:before {
    content: "\E593" !important;
}

.glyphicons-voice:before {
    content: "\E594" !important;
}

.glyphicons-stethoscope:before {
    content: "\E595" !important;
}

.glyphicons-hotspot:before {
    content: "\E596" !important;
}

.glyphicons-activity:before {
    content: "\E597" !important;
}

.glyphicons-watch:before {
    content: "\231A" !important;
}

.glyphicons-scissors-alt:before {
    content: "\E599" !important;
}

.glyphicons-car-wheel:before {
    content: "\E600" !important;
}

.glyphicons-chevron-up:before {
    content: "\E601" !important;
}

.glyphicons-chevron-down:before {
    content: "\E602" !important;
}

.glyphicons-superscript:before {
    content: "\E603" !important;
}

.glyphicons-subscript:before {
    content: "\E604" !important;
}

.glyphicons-text-size:before {
    content: "\E605" !important;
}

.glyphicons-text-color:before {
    content: "\E606" !important;
}

.glyphicons-text-background:before {
    content: "\E607" !important;
}

.glyphicons-modal-window:before {
    content: "\E608" !important;
}

.glyphicons-newspaper:before {
    content: "\1F4F0" !important;
}

.glyphicons-tractor:before {
    content: "\1F69C" !important;
}