.cron-info {
    padding:20px 0 0 20px;
    text-decoration:underline;
}
#list-config {
    border-bottom:1px solid rgba(0,0,0,.125);
    padding:0 29px 20px 39px;
}
.custom-accordion-heading {
    background-color: #fff;
}
.custom-accordion-heading{
    display: block;
}
.accordion-heading {
    /* padding: 20px 14px; */
    display:block;
    cursor:pointer;
}

.accordion-subtitle {
    margin-top:10px;
    display:block;
    font-size:60% !important;
    font-weight:400 !important;
    color:#686868!important
}
#id_meliscoregdpr_auto_delete_content_accordion_list_config #accordion{
    margin-top: 15px;
}
#accordion-add-edit  {
    /* padding:20px 30px 0 30px; */
}

.add-edit-config-filters {
    padding : 26px 30px 0 40px;
}
.add-edit-config-filters select {
    cursor:pointer;
}
.accordion-heading-add-delete {
    padding:30px 30px 30px 40px;
    display:block;
    border-bottom:1px solid rgba(0,0,0,.125);
    cursor:pointer;
}
.gdpr-auto-delete-multi-tabs .nav-pills .nav-link {
    margin-bottom:7px;
}
.gdpr-auto-delete-multi-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#fff;
    background-color:#e61c23;
}
.gdpr-auto-delete-multi-tabs .nav-pills .nav-link , .nav-pills .show>.nav-link {
    background-color:#eee;
    color:#1e1e1e;
}
.gdpr-auto-delete-multi-tabs .nav-pills .nav-link:hover {
    color:#fff;
    background-color:#e61c23;
}
#cron-configuration a,
#email-setup a{
    display: block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 0 2px 2px #eee;
    -moz-box-shadow: 0 2px 2px #eee;
    box-shadow: 0 2px 2px #eee;
    background-color: #f5f5f5;
    border-radius: 2px;
}
#cron-configuration h5,
#email-setup h5 {
    margin-bottom:0;
}
#cron-configuration-content,
#email-setup-content {
    padding: 25px 0 0 10px;
}
#accordion-email-setup {
    margin-top:5px;
}
#id_meliscoregdpr_auto_delete_add_edit_config_multi_tab #v-pills-tabContent {
    padding-bottom:25px;
}
.pad-20 {
    padding:20px;
}
.pad-10 {
    padding:10px;
}
.accordion-heading-sm {
    display: block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 0 2px 2px #eee;
    -moz-box-shadow: 0 2px 2px #eee;
    box-shadow: 0 2px 2px #eee;
    background-color: #f5f5f5;
    border-radius: 2px;
    margin-bottom:15px;
}
.accordion-heading-sm h5 {
    margin-bottom:0 !important;
}
.cursor-pointer {
    cursor: pointer;
}
#id_meliscoregdpr_auto_delete_content_accordion_add_edit_config_content .form-control::-webkit-input-placeholder,
#id_meliscoregdpr_auto_delete_smtp_content .form-control::-webkit-input-placeholder {
    color: #c3bdbd;
}  /* WebKit, Blink, Edge */
#id_meliscoregdpr_auto_delete_content_accordion_add_edit_config_content .form-control:-moz-placeholder,
#id_meliscoregdpr_auto_delete_smtp_content .form-control:-moz-placeholder {
    color: #c3bdbd;
}  /* Mozilla Firefox 4 to 18 */
#id_meliscoregdpr_auto_delete_content_accordion_add_edit_config_content .form-control::-moz-placeholder,
#id_meliscoregdpr_auto_delete_smtp_content .form-control::-moz-placeholder {
    color: #c3bdbd;
}  /* Mozilla Firefox 19+ */
#id_meliscoregdpr_auto_delete_content_accordion_add_edit_config_content .form-control:-ms-input-placeholder ,
#id_meliscoregdpr_auto_delete_smtp_content .form-control:-ms-input-placeholder {
    color: #c3bdbd;
}  /* Internet Explorer 10-11 */
#id_meliscoregdpr_auto_delete_content_accordion_add_edit_config_content .form-control::-ms-input-placeholder ,
#id_meliscoregdpr_auto_delete_smtp_content .form-control::-ms-input-placeholder {
    color: #c3bdbd;
}  /* Microsoft Edge */

.arrow-indication-down:before {
    font-family:"Glyphicons Halflings";
    content:"\e114";
    color: grey;
    font-size: 20px;
    padding: 0 10px 0 0;
    position: absolute;
    left: 15px;
}
.arrow-indication-right:before {
    font-family:"Glyphicons Halflings";
    content:"\e080";
    color: grey;
    font-size: 20px;
    padding: 0 0px 0 0;
    position: absolute;
    left: 15px;
}
.accordion-content-bg {
    padding: 20px 20px 0;
    margin-bottom: 20px;
}
#id_meliscoregdpr_auto_delete_content_accordion_list_config_content,
#id_meliscoregdpr_auto_delete_add_edit_config_multi_tab {
    position:relative;
}
.message-log {
    padding-left:20px;
}
.first-alert-warning-email {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #eee;
}
.second-alert-warning-email {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #eee;
}
.delete-alert-email {
    margin-top:20px;
    padding-top:10px;
    border-top:1px solid #eee;
}
#gdpr_module_filter,
#gdpr_site_filter {
    width:100px;
}
.list-config-content-table {
    padding:20px 31px;
}