/* TinyMCE */
.melis-editable {
    border: 1px dotted #333;
}
.melis-editable:hover {
    border-color: red;
}
.dotted-line {
    border: 1px dotted #333;
}
/** Brings TinyMCE drop-down menus & dialog boxes in front of other contents */
/*.tox-tinymce-aux {
    z-index: 1600;
}*/
/*
 * Fix for this issue.
 * There are 2 things:
 * - I cannot replace an image from a mini template (instead it's adding the picture)
 * - I cannot delete an image once added
 * issue: https://mantis2.uat.melistechnology.fr/view.php?id=2151
 */
img {
	display: unset !important;
}
.melis-cms-plugin-snippets img {
    max-width: 100%;
}
/* fix: tinymce toolbar overlaps and gets behind the .header_area */
.tox-tinymce-inline,
.tox-tinymce-inline .tox-editor-header,
.tox-tinymce-inline .tox-editor-header .tox-toolbar__primary{
    position: relative;
    z-index: 1100;
}
/* fix: tinymce dialogs is partially hidden */
.tox-tinymce-aux .tox-dialog {
	left: initial !important;
}