#custom-body-mini-template {
    display: block !important;
}
#custom-body-mini-template > * {
    margin-top: 0 !important;
}
#custom-body-mini-template-form {
    position: relative;
    height: 100%;
}
#mini-template-buttons .tox-button,
#mini-template-buttons .tox-form__group,
#custom-body-mini-template .tox-form .tox-form__group:not(.tox-form__group--stretched),
#custom-body-mini-template .tox-form .tox-form__group:not(.tox-form__group--stretched) > .tox-button,
#custom-body-mini-template #custom-body-mini-template-form .tox-form__group:not(.tox-form__group--stretched),
#custom-body-mini-template #custom-body-mini-template-form .tox-form__group:not(.tox-form__group--stretched) > .tox-button {
    display: inline-block;

    width: fit-content;
    position: relative;
    margin-bottom: 0.5rem;
	margin-right: 0.5rem;

	/* display: block;
	float: left; */
}
#mini-template-buttons {
    /* height: 300px; */
    height: 250px; 
    overflow: scroll;
}
#custom-body-mini-template .tox-form__group--stretched {
    height: 275px;
}