.navbar.main {	
	&.navbar-inverse {
		background-color: #373737;
		border-bottom-color: #2c2c2c;
		.dropdown-toggle {
			color: #e1e1e1;
			&:hover { color:#ffffff; }
		}
		a.menu-icon > i { color:#838383; }
		.navbar-brand {
			border-right: 1px solid #2c2c2c;
			.btn.text-regular { color:#838383 !important; }
		}
		.toggle-button {
			> i { color:#838383; }
			&:hover i { color:#fff; }
		}
		.navbar-form {
			input { background-color: #2c2c2c; }
			::-webkit-input-placeholder { color: #4d4d4d; }
			:-moz-placeholder { color: #4d4d4d; }
			::-moz-placeholder { color: #4d4d4d; }
			:-ms-input-placeholder { color: #4d4d4d; }
			.btn {
				border-left:1px solid #2c2c2c;
				color:#838383;
			}
		}
		.nav > li {
			border-left: 1px solid #2c2c2c;
			> a :hover { background-color: #2c2c2c; }
			&.lang { background-color: #2c2c2c; }
		}
	}
}