<div class="mini-template-content">
    <div class="row">
        <!-- accordion -->
        <div class="col-12 col-md-4">
            <div id="accordion-mini-template" class="accordion"></div>
        </div>
        <!-- preview of mini template -->
        <div class="col-12 col-md-8">
            <div id="preview-mini-template"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 modal-footer align-content-end">
        <div class="col-xs-6"><button id="close-btn" class="btn btn-default btn-block" type="button">{{Cancel}}</button></div>
        <div class="col-xs-6"><button id="insert-btn" class="btn btn-success btn-block" type="button">{{Insert}}</button></div>
    </div>
</div>
