/* .accordion dl dt {cursor: pointer; padding: 0.5em; color: #fff; transition-duration: 1s; transition-property: background; background: rgba(132,109,77,1); border-bottom: 1px solid #fff;}
.accordion dl dd {display: none; height: auto; margin-left: 0; padding: 1em; }
.accordion-nested {margin: -1em; }
.accordion-nested dl {width: 100%; margin-left: 0; }
.accordion-nested dl dt {background: rgba(132,109,77,.8)}
.accordion-nested .accordion-nested dl dt {background: rgba(132,109,76,.6)}
.accordion-nested .accordion-nested .accordion-nested dl dt {background: rgba(132,109,77,.4)}
.accordion-nested .accordion-nested .accordion-nested .accordion-nested dl dt {background: rgba(132,109,77,.2)} */
#template-container {
    width: 100%;
    overflow-x: hidden;
}
#template-container .modal-footer {
    width: 100%;
    margin-top: 2rem;
}
#insert-btn {
    background-color: #3498db;
    border-color: transparent;
    color: #fff;
}
#insert-btn:hover {
    background-color: #217dbb;
    box-shadow: none;
}
#close-btn {
    background-color: #f0f0f0;
    border-color: transparent;
    color: #222f3e;
}
#close-btn:hover {
    background-color: #e3e3e3;
    box-shadow: none;
}